body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.q-window {display:none}
.q-window__modal {background:#000;opacity:0.7;z-index:9998;position:fixed;left:0;right:0;top:0;height:100%}
.q-window-block {position:fixed;top:50%;left:50%;background:#fff;z-index:9999;box-shadow:0 0 1px 1px #ccc}
.q-window-header {height:42px;line-height:42px;padding:0 0 0 20px;position:relative;display:block;background:#bababa;color:#242424;font-size:15px;font-weight:700;text-transform:uppercase}
.q-window-close {position:absolute;top:13px;right:20px;font-weight:400;text-decoration:none}
.q-window-close:hover {text-decoration:none}
.q-window-body {padding:15px 20px 0 20px}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse; 
}
table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
